*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    padding: 20px 2%;
    height: 120px;
}

header div.logo{
    float: left;   
}

header nav.desktop{
    float: right;
}

header nav.mobile{
    margin-top: 20px;
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../images/icon_menu.png);
    background-size: 100% 100%;
}

 header nav.mobile ul{
    width: 100%;
    left: 0;
    top: 120px;
    z-index: 999;
    border-bottom: 3px solid #EB2D2D;
    position: absolute;
    text-align: center;
    background-color: white;
}

header nav.mobile  li{
    font-size: 19px;
    padding: 20px 30px;
    font-style: italic;
}

 header nav.mobile ul{
    list-style-type: none;
}

header nav.mobile li a{
    text-decoration: none;
    color: black;
}

header nav.desktop ul{
    list-style-type: none;
    position: relative;
    top: 40px;
}

header nav.desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav.desktop a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

section.banner{
    overflow: hidden;
    width: 100%;
    height: 650px;
    background-color: rgb(1,1,1);
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.text-banner{
    padding: 100px;
}

.text-banner-single{
    width: 280px;
    padding: 12px 30px;
    margin-top: 20px;
    font-style: italic;
    text-transform: uppercase;
    height: 50px;
    font-size: 23px;
    color: white;
    background-image: url(../images/box-text.png);
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 200px;
    height: 50px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 170px;
    height: 50px;
    position: relative;
    left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
    width: 320px;
    height: 50px;
    background-image: url(../images/box-white-text.png);
    color: black;
    position: relative;
    font-size: 21px;
    left: -30px;
}

section.veiculos-destaque{
    padding: 90px 2%;
}

section.veiculos-destaque .container{
    max-width: 1000px;
    padding: 40px 0;
}

.line-titulo{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.ln1{
    position: absolute;
    height: 1px;
    top: 20px;
    width: 100%;
    background:black;
}

.line-titulo  h2{
    text-align: center;
    position: relative;
    display: inline-block;
    background: white;
    padding: 0 20px;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;

}

.vitrine-destaque{
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 100%;
    border: 6px solid white;
    background-size: 100% 100%;

}

.vitrine-destaque h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p{
    padding-left: 8px;
    padding-top: 8px;
    color: #353535;
    font-size: 17px;
    font-style: italic;
}

.btn1{
    text-align: center;
    line-height: 40px;
    display: block;
    background-color: #EB2D2D;
    text-decoration: none;
    border: 3px solid #B21E1E;
    color: white;
    font-style: italic;
    width: 150px;
    height: 50px;
}

.vitrine-destaque a{
    margin-left: 8px;
    margin-top: 10px;
}

.servicos-descricao{
    display: flex;
}

.half1{
    width: 50%;
    text-align: right;
    padding: 90px 0;
    background: #242424;
    color: white;
}

.half1-wraper{
    padding-right: 30%;
    text-align: left;
    display: inline-block;
}

.half1-wraper h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half1-wraper ul{
    display: inline-block;
    margin-top: 20px;
}

.half1-wraper li{
    margin-left: 15px;
}

.half1-wraper a{
    margin-left: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.half2{
    width: 50%;
    padding: 90px 100px;
    background: #EB2D2D;
    color: white;
}

.half2 h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half2 .depoimento-single{
    margin-top: 19px;
}

.half2 .depoimento-single p{
    font-size: 20px;

}

.navigation{
    float: left;
    width: 100%;
    margin-top: 30px;
    max-width: 700px;
}

.arrows{
    float: left;
}

.navigation img{
    margin: 0 15px;
    cursor: pointer;
}

.nome-depoimento{
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contato{
    padding: 80px 2% 0 2%;
}

section.contato form{
    max-width: 600px;
    margin: 30px auto;
}

section.contato .input-wraper{
    float: left;
    padding: 10px;
}

section.contato input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato textarea{
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

section.contato form .input-wraper:nth-of-type(5){
    text-align: center;
}

section.contato input[type=submit]{
    border: 0;
    cursor: pointer;
    display: inline-block;    
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

footer{
    padding: 40px 2%;
    background: #252525;
}

footer nav{
    float: left;
}

footer nav ul{
    list-style-type: none;
}

footer nav ul li{
    float: left;
    font-size: 19px;
    padding: 0 35px;
    font-style: italic;
}

footer nav ul a{
    color: white;
    text-decoration: none;
}

footer p{
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}

section.venda{
    padding: 90px 0;
    min-height: 90%;
}

.content-venda{
    margin-top: 40px;
}

.sidebar{
    float: left;
    width: 30%;
}

.search1 {
    width: 90%;
}

.search1 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.search1 .barra-preco{
    width: 100%;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}

.barra-preco-fill{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(200,200,200));
}

.pointer-barra{
    width: 26px;
    height: 26px;
    border-radius: 8px;
    position: absolute;
    left: calc(30% - 13px);
    cursor: pointer;
    top: -3px;
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(180,180,180));
    border: 1px solid #777;
}

.valor-pesquisa{
    margin-top: 8px;
}

.valor-pesquisa p{
    color: black;
    font-size: 16px;
}

.valor-pesquisa p:nth-of-type(1){
    float: left;
}

.valor-pesquisa p:nth-of-type(2){
    float: right;
}

.search2{
    margin-top: 50px;
}

.search2 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.form-venda-wraper{
    margin-top: 10px;
}

.form-venda-wraper input[type=checkbox]{
    display: none;
}

.form-venda-wraper label{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.circle{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: black;
    position: absolute;
    display: none;
    left: 5px;
    top: 5px;    
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle{
    display: block;
}

.form-venda-wraper span{
    padding: 0 10px;
    vertical-align: top;
}

.vitrine-venda{
    float: left;
    width: 70%;
}

.vitrine-venda .vitrine-destaque{
    margin-top: 30px;
}

section.venda-single{
    padding: 80px 2% 0 2%;
}

section.venda-single .container{
    padding: 40px 0;
    text-align: center;
    max-width: 1280px;
}

.info-veiculo{
    display: inline-block;
    width: 60%;
}

.foto-destaque{
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.descricao-veiculo{
    vertical-align: top;
    display: inline-block;
    width: auto;
    padding: 60px 20px;
    text-align: left;
}

.descricao-veiculo p{
    font-size: 17px;
    margin-top: 25px;
    max-width: 200px;
}

.descricao-veiculo a{
    margin-top: 25px;
}

.nav-galeria-parent{
    width: 100%;
    padding: 36px;
    position: relative;
}

.arrow-left-nav{
    position: absolute;
    left: 8px;
    top: 45%;
    transform: translateT(-50%);
    background-image: url(../images/arrow-left.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.arrow-right-nav{
    position: absolute;
    right: 8px;
    top: 45%;
    transform: translateT(-50%);
    background-image: url(../images/arrow-right.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.info-bread{
    padding: 20px 0;
    text-align: left;
}

.info-bread a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.info-bread a:last-child{
    color: red;
}

.info-bread span{
    padding: 0 30px;
}

.nav-galeria{
    overflow: hidden;
    width: 100%;
}

.nav-galeria-wraper{
    width: 200%;
}

.mini-img-wraper{
    float: left;
    padding: 4px;
    width: calc(33.3% *(100/200));
}

.mini-img{
    float: left;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;   
}

section.sobre{
    min-height: 90%;
    padding: 60px 2% 20px 2%;
}

section.sobre .container{
    margin-top: 30px;
    max-width: 840px;
}

section.sobre .imagem-sobre{
    width: 100%;
    padding-top: 60%;
    background-color: rgb(220, 220, 220);
}

section.sobre .descricao-autor{
    margin-top: 20px;
}

.descricao-autor h2{
    font-size: 24px;
}

.descricao-autor p{
    font-size:  16px;
    margin-top: 10px;
}

.descricao-autor2{
    margin-top: 20px;
}

.img-small{
    width: 20%;
    padding-top: 20%;
    float: left;
    background-color: rgb(220, 220, 220);
}

.descricao-autor2 p{
    float: left;
    width: 70%;
    padding: 15px;
    line-height: 26px;
}

@media screen and (max-width:850px){
    .half1-wraper a{
        margin-top: 20px;
        display: block;
    }
}

@media screen and (max-width:768px){
    
    nav.desktop{
        display: none;
    }
    
    section.banner{
        height: 70vw;
        min-height: 0px;
        max-height: 800px;
    }

    header nav.mobile{
        display: block;
    }

    header nav.mobile ul{
        display: none;
    }

    section.servicos-descricao{
        flex-direction: column;
    }


    .half1, .half2{
        padding: 80px 4%;
        width: 100%;
    }

    .w50{
        width: 100%;
    }

    footer nav{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer p{
        float: none;
    }

    .sidebar{
        width: 100%;
        text-align: center;
    }

    .vitrine-venda{
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    .search1{
        display: inline-block;
    }

    .search2{
       display: inline-block;
       text-align: left; 
    }

    .info-veiculo{
        width: 100%;
    }

    .descricao-veiculo{
        padding: 20px 0;
        text-align: center;
    }

    .descricao-veiculo a{
        display: inline-block;
    }

    .descricao-veiculo p{
        max-width: none;
    }

    .info-bread{
        text-align: center;
    }
}

@media screen and (max-width: 1100px){
    .half1{
        text-align: center;
    }

    .half1-wraper{
        padding-right: 0;
        text-align: left;
    }

    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1400px) {
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px) {
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 500px;
    }
}

@media screen and (max-width: 580px){
    .text-banner{
        padding: 30px;
    }
    
    .text-banner-single{
        width: 240px;
        font-size: 18px;
    }

    .text-banner .text-banner-single:nth-of-type(4){
        width: 270px;
    }

    section.veiculos-destaque .container{
        text-align: center;
    }

    .vitrine-destaque{
        width: 80%;
        float: none;
        display: inline-block;
        margin-top: 20px;
    }

    .vitrine-destaque a{
        display: inline-block;
    }

    .img-small{
        width: 100%;
        padding-top: 100%;
    }

    .descricao-autor h2{
        text-align: center;
    }

    .descricao-autor2 p{
        width: 100%;
        padding: 20px 2%;
    }
    
}